<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>

    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="container header__container">
        <p class="header__logo">WeatherInfo</p>
        <form class="header__form">
          <input
            class="header__input"
            type="text"
            name="search"
            placeholder="Search.."
          />
        </form>
      </div>
    </header>
    <div class="container">
      <div class="card">
        <p>Find a city!</p>
      </div>
    </div>
    <script src="js/app.js"></script>
  </body>
</html>
